// Ported off https://raw.githubusercontent.com/catppuccin/userstyles/refs/heads/feat/m3-lib/lib/m3.less

@use '@angular/material' as mat;
@use "@catppuccin/palette/scss/catppuccin" as ctp;

@use "sass:color";
@use "sass:map";

@mixin m3(
  $flavor,
  $accentColor: "mauve",
  $prefix: "ctp-sys-color",
  $important: false
) {
  $colors: map.get(ctp.$palette, $flavor);

  $rosewater: map.get($colors, "rosewater");
  $flamingo: map.get($colors, "flamingo");
  $pink: map.get($colors, "pink");
  $mauve: map.get($colors, "mauve");
  $red: map.get($colors, "red");
  $maroon: map.get($colors, "maroon");
  $peach: map.get($colors, "peach");
  $yellow: map.get($colors, "yellow");
  $green: map.get($colors, "green");
  $teal: map.get($colors, "teal");
  $sky: map.get($colors, "sky");
  $sapphire: map.get($colors, "sapphire");
  $blue: map.get($colors, "blue");
  $lavender: map.get($colors, "lavender");
  $text: map.get($colors, "text");
  $subtext1: map.get($colors, "subtext1");
  $subtext0: map.get($colors, "subtext0");
  $overlay2: map.get($colors, "overlay2");
  $overlay1: map.get($colors, "overlay1");
  $overlay0: map.get($colors, "overlay0");
  $surface2: map.get($colors, "surface2");
  $surface1: map.get($colors, "surface1");
  $surface0: map.get($colors, "surface0");
  $base: map.get($colors, "base");
  $mantle: map.get($colors, "mantle");
  $crust: map.get($colors, "crust");

  $accent: map.get($colors, $accentColor);

  $m3-primary: $accent;
  $m3-secondary: color.adjust($accent, $saturation: -30%);
  $m3-tertiary: color.adjust($accent, $lightness: 5%);
  
  $m3-fixed-flavor: map.get(ctp.$palette, "mocha");

  $m3-fixed-primary: map.get($m3-fixed-flavor, $accentColor);
  $m3-fixed-secondary: color.adjust(map.get($m3-fixed-flavor, $accentColor), $saturation: -30%);
  $m3-fixed-tertiary: color.adjust(map.get($m3-fixed-flavor, $accentColor), $lightness: 5%);
  $m3-fixed-on-accent: map.get($m3-fixed-flavor, "base");

  $m3-emphasize: if($flavor == "latte", -30%, 12.5%);
  $m3-deemphasize: 10%;
  $m3-tint: if($flavor == "latte", 25%, 30%);

  $m3-inverse-flavor: map.get(ctp.$palette, if($flavor == latte, "mocha", "latte"));
  $m3-black: map.get($m3-fixed-flavor, "crust");

  $ctp-theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$violet-palette,
        use-system-variables: true,
        system-variables-prefix: $prefix
      ),
    ),
  );

  $override-map: (
    // Primary palette variables
    primary: #{$m3-primary},
    on-primary: #{$base},
    primary-container: #{color.mix($m3-primary, $base, $weight: $m3-tint)},
    on-primary-container: #{color.adjust($m3-primary, $lightness: $m3-emphasize)},
    inverse-primary: #{map.get($m3-inverse-flavor, $accentColor)},
    primary-fixed: #{$m3-fixed-primary},
    primary-fixed-dim: #{color.adjust($m3-fixed-primary, $lightness: -$m3-deemphasize)},
    on-primary-fixed: #{$m3-fixed-on-accent},
    on-primary-fixed-variant: #{$m3-fixed-on-accent},

    // Secondary palette variables
    secondary: #{$m3-secondary},
    on-secondary: #{$base},
    secondary-container: #{color.mix($m3-secondary, $base, $weight: $m3-tint)},
    on-secondary-container: #{color.adjust($m3-secondary, $lightness: $m3-emphasize)},
    secondary-fixed: #{$m3-fixed-secondary},
    secondary-fixed-dim: #{color.adjust($m3-fixed-secondary, $lightness: -$m3-deemphasize)},
    on-secondary-fixed: #{$m3-fixed-on-accent},
    on-secondary-fixed-variant: #{$m3-fixed-on-accent},

    // Tertiary palette variables
    tertiary: #{$m3-tertiary},
    on-tertiary: #{$base},
    tertiary-container: #{color.mix($m3-tertiary, $base, $weight: $m3-tint)},
    on-tertiary-container: #{color.adjust($m3-tertiary, $lightness: $m3-emphasize)},
    tertiary-fixed: #{$m3-fixed-tertiary},
    tertiary-fixed-dim: #{color.adjust($m3-fixed-tertiary, $lightness: -$m3-deemphasize)},
    on-tertiary-fixed: #{$m3-fixed-on-accent},
    on-tertiary-fixed-variant: #{$m3-fixed-on-accent},

    // Neutral palette variables
    background: #{$base},
    on-background: #{$text},
    surface: #{$base},
    surface-dim: #{$mantle},
    surface-bright: #{$overlay0},
    surface-container-low: #{color.adjust($base, $lightness: if($flavor == "latte", -5%, 5%))},
    surface-container-lowest: #{$crust},
    surface-container: #{$surface0},
    surface-container-high: #{$surface1},
    surface-container-highest: #{$surface2},
    on-surface: #{$text},
    shadow: #{$m3-black},
    scrim: #{$m3-black},
    surface-tint: #{$m3-primary},
    inverse-surface: #{map.get($m3-inverse-flavor, "base")},
    inverse-on-surface: #{map.get($m3-inverse-flavor, "text")},
    outline: #{$overlay0},
    outline-variant: #{$overlay0},
    neutral10: #{map.get($m3-fixed-flavor, "base")}, // Variable used for the form field native select option text color
    // Error palette variables

    on-error: #{$base},
    error: #{$red},
    on-error-container: #{color.adjust($red, $lightness: $m3-emphasize)},
    error-container: #{color.mix($red, $base, $weight: $m3-tint)},

    // Neutral variant palette variables
    surface-variant: #{$overlay1},
    on-surface-variant: #{$subtext0},
    neutral-variant20: #{map.get($m3-fixed-flavor, "surface1")} // Variable used for the sidenav scrim (container background shadow when opened)
  );

  @include mat.system-level-colors($ctp-theme, $overrides: $override-map);
  @include mat.all-component-colors($ctp-theme);
}
